/* Users styles */

*,
*:before
*:after {
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


img {
  display: block;
}

/* 
 * Results 
*/
.results {
  background-color: #2b2b2b;
}

.result {
  display: flex;
  padding: 10px;
  color: #999;
  background-color: #2b2b2b;
  border-bottom: 1px solid #aaa;
}

.result__img {
  cursor: pointer;
}

.result:hover {
  background-color: #505050;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.result__img {
  width: 100px;
}

.result__content {
  width: 100%;
  padding: 10px 20px;
}

.result__title {
  margin-bottom: 10px;
}

/* 
 * Preview 
*/
.preview {
  display: flex;
  padding: 40px 0;

  /*background: linear-gradient(to right, rgba(20.78%, 15.69%, 11.76%, 1.00) 150px, rgba(27.45%, 22.75%, 19.22%, 0.84) 100%);*/
  background: linear-gradient(to right,rgb(48, 27, 64) 150px, rgb(72, 83, 119) 100%);
}

.preview__container, 
.credits__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; 
}

.preview__inner,
.credits__inner {
  display: flex;
}

.preview__img {
  border-radius: 50px;
}

.preview__img--small {
  width: 300px;
}

.preview__header {
  margin-bottom: 20px;
}

.preview__title {
  margin-right: 10px;

  font-size: 45px;
  font-weight: 700;
}

.preview__year {
  font-size: 35px;
  color: #999;
}

.preview__genre {
  margin-bottom: 20px;
  font-size: 18px;
}

.preview__overview {
  margin-bottom: 25px;
  font-size: 23px;
}

.preview__content {
  padding: 5px 20px;
  color: #fff;
}

/*
 * Explicit
*/

.explicit {
  display: flex;
  padding: 40px 0;

  /*background: linear-gradient(to right, rgba(20.78%, 15.69%, 11.76%, 1.00) 150px, rgba(27.45%, 22.75%, 19.22%, 0.84) 100%);*/
  background: linear-gradient(to right,rgb(48, 27, 64) 150px, rgb(72, 83, 119) 100%);
}

.explicit__container, 
.credits__container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; 
}

.explicit__inner,
.credits__inner {
  display: flex;
}

.explicit__img {
  border-radius: 50px;
}

.explicit__header {
  margin-bottom: 10px;
}

.explicit__subheader {
  margin-bottom: 30px;
}

.explicit__title {
  margin-right: 10px;

  font-size: 45px;
  font-weight: 700;
}

.explicit__year {
  font-size: 35px;
  color: #999;
}

.explicit__genre {
  font-size: 18px;
}

.explicit__split {
  display: inline-block;
  margin: 0 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.explicit__overview {
  margin-bottom: 30px;

  font-size: 25px;
}

.explicit__country,
.explicit__revenue,
.explicit__budget,
.explicit__imdb {
  margin-bottom: 10px;
  font-size: 20px;
}

.explicit__imdb {
  margin-bottom: 30px;
}


.explicit__content {
  padding: 5px 20px;
  color: #fff;
}

.explicit__text--bold {
  font-weight: 700;
  color: #999;
}

.explicit__crew {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  font-size: 20px;
}

.explicit__filmmaker {
  margin-right: 30px;
  margin-bottom: 25px;
}

.explicit__job {
  color: #999;
  font-weight: 700;
}

.movie__form {
  width: 250px;
  margin: 50px auto 0;
}

.movie__job,
.movie__name {
  margin: 0;
}

.movie__name {
  font-weight: 700;
}

.movie__crew {
  display: flex;
  flex-wrap: wrap;
}

.movie__filmmaker {
  width: 30%;
  margin: 0 10px 20px 0;
}


/* Credits */
.credits {
  margin-top: 50px;
}

.credits__inner {
  justify-content: space-between;
}

.credits__card {
  width: 160px;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .75);
}

.credits__card--complete {
  display: flex;
  align-items: center;
  width: auto;
  background: transparent;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 20px;
}

.credits__img {
  width: 100%;

  border-radius: 10px 10px 0 0;
}

.credits__img--complete {
  width: 80px;

  border-radius: 0;
}

.credits__content {
  padding: 5px 15px;
}

.credit__name {
  font-weight: 700;
}


/* Complete-actors-list */

.complete-actors-list {
  display: flex;
  justify-content: space-between;
}

.complete-actors-list__item {
  width: 50%;
  margin: 20px;
}

.complete-actors-list__title {
  display: inline-block;
  margin-right: 10px;
}

.complete-actors-list__header {
  margin-bottom: 15px;
}

.department__name {
  margin-bottom: 15px;
}

/* Button */
.button {
  margin: 5px 15px;  
  background-color: #032541;
  border: 0;
  padding: 10px 25px;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  transition: background .2s linear;
}

.button:hover {
  background-color: #075da5;
  cursor: pointer;
}

/*
 * DnD styles
*/

/*
 * Favourite Movie
*/

.favourite-movie {
  width: 160px;
  background-color: gold;
  border-radius: 20px;
  position: absolute;
  /*
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  */
  z-index: 1;
}

.favourite-movie__dragged {
  width: 100%;
  height: 100%;
}

.favourite-movie__img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.favourite-movie__text {
  text-align: center;
}

.favourite-movie__title {
  color:#333;
}

.favourite-movie__year {
  color:#333;
}

/*
 * Categories
*/

.categories {
  display: flex;
  margin-top: 500px;
  /*
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  */
}

.category-movie {
  width: 450px;
  height: 400px;
  margin-right: 20px;
  background-color: silver;
}

.category-movie__drop {
  width: 100%;
  height: 100%;
}